<nav id="myNav">
    <header class="">
        <div class="navbar bg-primary shadow-sm ">
            <div class="navbar-brand align-item-center d-flex">
                <i class="fas fa-shipping-fast">&nbsp;
                </i>
                <strong>Flipkart</strong>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="search products">
                </div>
                <span class="fas fa-search search-icon"></span>
            </div>
            <button class="btn btn-primary" routerLink="cart">
                <i class="fas fa-cart-plus" style="font-size: 30px;"></i>
                <div class="badge bg-danger"  style="font-size: 10px;">{{totalItem}}</div>
            </button>
        </div>
    </header>
</nav>

